*{
    font-family: Arial;
    
}
:root{
    --hover-clr : White;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    gap: 1em;
    list-style-type: none;
}
.hero-container{
    background-image: linear-gradient(to right top, #0f0f11, #11132c, #101546, #12135f, #1f0a78);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-section{
    display: flex;
    gap:20px;
    color: white;
}
img{
    border: 2px solid black;
    border-radius: 50px 2px 50px 5px;
}
.button-contact-me{
    border-radius: 50px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: red;
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}
.button-projects{
    border-radius: 50px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: transparent;
    transition: 0.5s;
    color:rgb(137, 122, 122);
    border: 2px solid rgb(137, 122, 122)
}
.button-projects:hover, .button-contact-me:hover{
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--hover-clr);
    background-color: rgb(42, 42, 250);
}

.projects-container{
    height: 50vh;
}

.projects-section{
    height: auto;
}
hr{
    width: 90%;
}
#projects-header{
    text-align: center;
}

.projects-row1{
    height: 50px;
    background-color: red;
}

.card-heading{
    font-size: 30px;
}