.navigation{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    gap: 1em;
    list-style-type: none;
}

.hero-section{
    display: flex;
}